include *.txt
include README.md
include pyproject.toml

graft nbrr

prune .github
prune *.egg-info
prune tests

exclude .coveragerc
exclude ruff.toml
exclude .gitignore
exclude .isort.cfg
exclude .pre-commit-config.yaml
exclude *.yml
exclude nbrr/_version.py
